<!-- keyboard/templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"> <!-- Prevent zoom -->
    <title>Home - Remote Control</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        #mouse-scroll-container{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    </style>
    <script>
        function getCSRFToken() {
            let cookieValue = null;
            const name = 'csrftoken';
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body>
    {% csrf_token %}
    {% include 'control/volume_control.html' %}
    {% include 'control/input.html' %}
    <div id="mouse-scroll-container">
    {% include "control/mouse.html" %}
    {% include 'control/scroll.html' %}
    </div>
    {% include 'control/special_keyboard.html' %}
</body>
</html>
