<div id="trackpad" 
        ontouchstart="startTouch(event)" 
        ontouchmove="moveTouch(event)" 
        ontouchend="endTouch()"
        onclick="sendMouseClick()">
    <p style="text-align: center; margin-top: 130px;">Move your finger here</p>
</div>

<script>
    let lastX = 0;
    let lastY = 0;

    function startTouch(event) {
        const touch = event.touches[0];
        lastX = touch.clientX;
        lastY = touch.clientY;
    }

    function moveTouch(event) {
        const touch = event.touches[0];
        const deltaX = touch.clientX - lastX;
        const deltaY = touch.clientY - lastY;

        // Send the mouse movement to the server
        sendMouseMovement(deltaX, deltaY);

        // Update lastX and lastY
        lastX = touch.clientX;
        lastY = touch.clientY;

        // Prevent scrolling
        event.preventDefault();
    }

    function endTouch() {
        // Reset last positions when touch ends
        lastX = 0;
        lastY = 0;
    }

    function sendMouseMovement(x, y) {

        fetch('/move_mouse/', {
            method: 'POST',
            body: JSON.stringify({ x: x, y: y}),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(),
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log('Mouse moved:', data.position);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function sendMouseClick() {

        fetch('/click_mouse/', {
            method: 'POST',
            body: JSON.stringify({button:'left'}),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(),
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log('Mouse clicked!');
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function getCSRFToken() {
        let cookieValue = null;
        const name = 'csrftoken';
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>