<!-- control/templates/volume.html -->
<div>
    🔈
    <input type="range" id="volumeSlider" min="0" max="100" value="{{ volume }}" oninput="updateVolume(this.value)">
    <span id="volumeDisplay"></span>
    🔊
</div>

<script>
    // Update the displayed volume as the slider is moved
    function updateVolume(val) {
        volumeLevel = parseInt(val);
        // Send the volume value to the server via a POST request
        sendVolumeUpdate(volumeLevel);
    }

    function sendVolumeUpdate(level) {
        fetch('/set_volume/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(),
            },
            body: JSON.stringify({ 'level': level }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('success!');
        })
        .catch((error) => {
            console.error('Error setting volume:', error);
        });
    }
</script>
